/* displays */
#saludo {
  display: block;
}

#categoria {
  display: none;
}

#preguntasMundo {
  display: none;
}

#preguntasMiscelaneas {
  display: none;
}

#verResultados {
  display: none;
}

/* estilos */
body {
  text-align: center;
}